@import "../variables.scss";

.root {
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  background-color: $colors-white;
  border-width: 5px;
  line-height: 1;
  height: 3rem;
  outline: none;
  border: none;
}

.root:hover {
  background-color: $colors-neutral-2;
}
