@import "../variables.scss";

.root {
  background-color: $colors-neutral-4;
  border-radius: 7px;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.4rem;
  color: rebeccapurple;
  @media (max-width: $small-screen-breakpoint) {
    margin-right: 0rem;
  }
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0.5rem;
  color: $colors-black;
}
