@import "../variables.scss";

.root {
  background: $colors-neutral-4;
  width: 100vw;
  max-width: 100%;
  display: flex;
  align-items: flex-end;
  height: 7rem;
}

.content {
  width: 100%;
  max-width: $app-width;
}

.copy {
  font-family: $sans-serif;
  padding-left: 1rem;
}
