@import "../variables.scss";
.root {
  display: flex;
  flex-direction: row;
  max-width: $app-width;
  @media (max-width: $small-screen-breakpoint) {
    flex-direction: column;
  }
  width: 100%;
}
