@import "../variables.scss";

.root {
  font-size: $font-size-5;
  font-weight: $font-size-4;
  font-family: $sans-serif;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-left: 0;
  margin-bottom: 0;
}
