// Screen Size
$app-width: 1250px;
$sideNav-width: 300px;

// Colors
$colors-white: #ffffff;
$colors-black: #000000;

$colors-primary-1: #6465a5;
$colors-primary-2: #6975a6;
$colors-primary-3: #f3e96b;
$colors-primary-4: #f28a30;
$colors-primary-5: #f05837;

$colors-neutral-1: #fafafa;
$colors-neutral-2: #737373;
$colors-neutral-3: #f2f2f2;
$colors-neutral-4: #dadada;
$colors-neutral-5: #777777;

// Font Sizes
$font-size-1: 32rem;
$font-size-2: 24rem;
$font-size-3: 16rem;
$font-size-4: 10rem;
$font-size-5: 5rem;

// Font Weight
$font-weight-1: 900; // MAX
$font-weight-2: 700; // BOLD
$font-weight-3: 400; // NORMAl
$font-weight-4: 300;
$font-weight-5: 100;
